RewriteEngine on 
 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 401 https://www.k12.wizgrade.com/404.php
ErrorDocument 403 https://www.k12.wizgrade.com/404.php
ErrorDocument 404 https://www.k12.wizgrade.com/404.php
ErrorDocument 500 https://www.k12.wizgrade.com/404.php


<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=60, public"
</filesMatch>

Options -Indexes